<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            
              <ion-img  src="/assets/images/myself.jpg"></ion-img>
              <ion-card-subtitle>App's Developer</ion-card-subtitle>
              <ion-card-title>Oscar Noguera</ion-card-title>
            
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
</ion-content>
